<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/Nav.css">
</head>
<body>
    <div id="Company_Logo">
        圖片暫時取代區
    </div>
    <div>
        <div class="Nav_Block"><a href="">首頁</a><br/></div>
    </div>
    <div>
        <div class="Nav_Block"><a href="">員工管理</a><br/></div>
        <div>
            <div class="Nav_Func"><a href="">員工組別</a><br/></div>
            <div class="Nav_Func"><a href="">員工小組成員管理</a><br/></div>
            <div class="Nav_Func"><a href="">員工權限</a><br/></div>
            <div class="Nav_Func"><a href="">員工帳號</a><br/></div>
            <div class="Nav_Func"><a href="">員工權限列表</a><br/></div>
            <div class="Nav_Func"><a href="">員工代理人</a><br/></div>
        </div>
    </div>
    <div>
        <div class="Nav_Block"><a href="">請假管理</a><br/></div>
        <div>
            <div class="Nav_Func"><a href="">請假簽核關卡設定</a><br/></div>
            <div class="Nav_Func"><a href="">請假申請</a><br/></div>
            <div class="Nav_Func"><a href="">請假簽核</a><br/></div>
            <div class="Nav_Func"><a href="">請假歷史紀錄</a><br/></div>
            <div class="Nav_Func"><a href="">請假假別</a><br/></div>
        </div>
    </div>
    <div>
        <div class="Nav_Block"><a href="">出勤管理</a><br/></div>
        <div>
            <div class="Nav_Func"><a href="">出勤記錄一覽</a><br/></div>
        </div>
    </div>
    <script src="./Javascript/Nav.js"></script>
</body>
</html>